absl-py==0.13.0
alabaster==0.7.12
anyio==3.3.3
apipkg==1.5
appdirs==1.4.4
argon2-cffi==21.1.0
asn1crypto==1.4.0
astor==0.8.1
astroid==2.8.2
astunparse==1.6.3
async-generator==1.10
attrs==21.2.0
autopep8==1.5.7
Babel==2.9.1
backcall==0.2.0
bleach==4.1.0
branca==0.4.1
breezy==3.2.0
Brlapi==0.8.3
btrfsutil==5.14.2
CacheControl==0.12.6
cachetools==4.2.3
certifi==2021.10.8
cffi==1.14.6
chardet==4.0.0
chart-studio==1.1.0
click==8.0.3
cloudpickle==2.0.0
colorama==0.4.4
commonmark==0.9.1
configobj==5.1.0.dev0
contextlib2==0.6.0.post1
cryptg==0.2
cryptography==35.0.0
cvxopt==1.2.7
cvxpy==1.1.12
cycler==0.10.0
Cython==0.29.24
dask==2021.9.1
debugpy==1.5.0
decorator==5.1.0
defusedxml==0.7.1
deprecation==2.1.0
distlib==0.3.3
distro==1.6.0
dnspython==2.1.0
docloud==1.0.375
docplex==2.18.200
docutils==0.17.1
dulwich==0.20.25
ecos==2.0.7.post1
entrypoints==0.3
enum34==1.1.6
fastimport==0.9.14
filelock==3.0.12
findspark==1.4.2
Flask==2.0.2
flask-ngrok==0.0.25
flatbuffers==2.0.0
folium==0.11.0
fsspec==2021.10.1
future==0.18.2
gast==0.3.3
Glances==3.2.2
gmpy2==2.1.0rc1
google-auth==1.34.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.41.0
gurobipy==9.1.2
h5py==3.3.0
html5lib==1.1
idna==3.2
imagesize==1.2.0
importlib-metadata==4.8.1
iniconfig==1.1.1
iotop==0.6
ipykernel==6.4.1
ipython==7.28.0
ipython_genutils==0.2.0
ipywidgets==7.6.3
isort==5.9.3
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.2
joblib==1.0.1
json5==0.9.6
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.8.1
jupyter-packaging==0.10.6
jupyter-server==1.11.1
jupyterlab==3.2.0
jupyterlab-pygments==0.1.2
jupyterlab-server==2.8.2
keras @ file:///build/python-keras/src/keras-2.6.0-py2.py3-none-any.whl
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
lazy-object-proxy==1.6.0
libtorrent===1.2.14-build-libtorrent-rasterbar-src-libtorrent-rasterbar-1.2.14-bindings-python
lit==12.0.1.dev0
locket==0.2.1
louis==3.19.0
lxml==4.6.3
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.2
mccabe==0.6.1
mercurial==5.9.2
meson==0.59.2
mistune==0.8.4
more-itertools==8.10.0
mpmath==1.2.1
msgpack==1.0.2
mutagen==1.45.1
nbclassic==0.3.2
nbclient==0.5.4
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.3
nltk==3.6.4
notebook==6.4.4
numpy==1.21.2
oauthlib==3.1.1
opt-einsum==3.3.0
ordered-set==4.0.2
osqp==0.6.2.post0
packaging==20.9
pandas==1.3.3
pandocfilters==1.4.3
parso==0.8.2
partd==1.2.0
patiencediff==0.2.2
pep517==0.11.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.2
pipupgrade==1.7.4
platformdirs==2.0.2
plotly==5.3.1
pluggy==0.13.1
ply==3.11
progress==1.6
prometheus-client==0.11.0
prompt-toolkit==3.0.20
protobuf==3.17.3
psutil==5.8.0
ptyprocess==0.7.0
py==1.10.0
py4j==0.10.9
pyaes==1.6.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.8.0
pycodestyle==2.8.0
pycparser==2.20
pycryptodome==3.10.4
pycuda==2021.1
pydot==1.4.2
Pygments==2.10.0
PyGObject==3.40.1
pylint==2.11.1
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyrsistent==0.18.0
pyspark==3.0.1
pytest==6.2.5
python-dateutil==2.8.2
pytoml==0.1.21
pytools==2021.2.8
pytz==2021.1
pyxdg==0.27
PyYAML==5.4.1
pyzmq==22.2.1
qdldl==0.1.5.post0
recommonmark==0.7.1
Reflector==2021.7.8.19.52.52
regex==2021.8.28
requests==2.26.0
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
resolvelib==0.5.5
retrying==1.3.3
rsa==4.7.2
scikit-build==0.12.0
scikit-learn==1.0
scipy==1.7.1
scs==2.1.3
seaborn==0.11.2
Send2Trash==1.8.0
six==1.16.0
smbus==1.1
sniffio==1.2.0
snowballstemmer==2.1.0
speedtest-cli==2.1.3
Sphinx==4.2.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
swifter==1.0.9
sympy==1.9
Telethon==1.23.0
tenacity==8.0.1
tensorboard==2.6.0
tensorboard-data-server @ file:///tmp/tensorboard_data_server-0.7.0a0-py3-none-manylinux2010_x86_64.whl
tensorboard-plugin-wit @ file:///build/python-tensorboard_plugin_wit/src/tensorboard_plugin_wit-1.8.1/wit-pip/release/dist/tensorboard_plugin_wit-1.8.1-py3-none-any.whl
tensorflow-estimator @ file:///build/python-tensorflow-estimator/src/estimator_pip/tensorflow_estimator-2.6.0-py2.py3-none-any.whl
tensorflow-gpu @ file:///build/tensorflow/src/tmpoptcuda/tensorflow_gpu-2.6.0-cp39-cp39-linux_x86_64.whl
tensorflow-serving-api @ file:///tmp/pip/tensorflow_serving_api-2.3.0-py2.py3-none-any.whl
tensorflow-serving-api-gpu @ file:///tmp/pip/tensorflow_serving_api_gpu-2.3.0-py2.py3-none-any.whl
termcolor==1.1.0
terminado==0.11.1
testpath==0.5.0
threadpoolctl==2.2.0
toml==0.10.2
tomli==1.2.1
tomlkit==0.7.2
toolz==0.11.1
tornado==6.1
tox==3.24.4
tqdm==4.62.3
traitlets==5.1.0
typing-extensions==3.10.0.2
urllib3==1.26.7
validate==5.1.0.dev0
virtualenv==20.8.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.59.0
websockets==9.1
Werkzeug==2.0.2
widgetsnbextension==3.5.1
wrapt==1.12.1
xgboost===1.4.0-SNAPSHOT
youtube-dl==2021.6.6
zipp==3.6.0
zstandard==0.15.2
